In [3]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import time
import pandas as pd
import requests as req

In [4]:
!which chromedriver

/usr/local/bin/chromedriver

In [5]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [5]:
browser.is_element_present_by_css("ul.item_list li.slide",wait_time=1)

True

In [6]:
html=browser.html
soup = BeautifulSoup(html, 'html.parser')

In [7]:
new_elem=soup.select_one("ul.item_list li.slide")

In [8]:
news_title=new_elem.find('div',class_="content_title").a.text
news_p=new_elem.find('div',class_="article_teaser_body").text

In [9]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [10]:
full_image_elem=browser.find_by_id('full_image')
full_image_elem.click()

In [12]:
browser.is_element_present_by_text('more info      ', wait_time=2)
more_info_elem=browser.find_link_by_partial_text('more info')

In [13]:
more_info_elem.click()

In [16]:
html=browser.html
img_soup=BeautifulSoup(html,'html.parser')
img_url_rel=img_soup.select_one('figure.lede a img').get("src")

In [17]:
img_url=f'https://www.jpl.nasa.gov{img_url_rel}'

In [18]:
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA09320_hires.jpg'

In [6]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [7]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [8]:
mars_weather_div1 = soup.find_all('div', class_="js-tweet-text-container")
for m_w in mars_weather_div:
    mw1=m_w.text
    if mw1[1]=="InSight":
        mars_weather=mw1
    break
print(mars_weather)

'\nThe #Mars2020 rover gets her wheels from the pit crew with PhDs\nhttps://mars.nasa.gov/mars2020/mission/where-is-the-rover/\xa0…pic.twitter.com/DRHHZpRI3f\n'

In [25]:
url = 'https://space-facts.com/mars/'

In [26]:
tables = pd.read_html(url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [27]:
df = tables[0]
df.columns = ['Mars Facts', 'Values','Earth']
dfa=df[['Mars Facts', 'Values']]
dfa.head()

           Mars Facts           Values
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days

In [28]:
dfa = dfa.set_index('Mars Facts')
dfa.columns.name = dfa.index.name
dfa.index.name = None
dfa

Mars Facts                   Values
Diameter:                  6,779 km
Mass:               6.39 × 10^23 kg
Moons:                            2
Distance from Sun:   227,943,824 km
Length of Year:      687 Earth days
Temperature:          -153 to 20 °C

In [29]:
dfa.to_html('marsfacts.html')

In [30]:
!open marsfacts.html

In [31]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [35]:
hemisphere_image_urls=[]

In [36]:
for i in range(4):
    url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
    browser.visit(url)
    full_image_elem=browser.find_by_tag('h3')[i]
    full_image_elem.click()
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    img_class=soup.find('div',class_="downloads")
    img_url=img_class.ul.li.a["href"]
    title_div=soup.find('div',class_='content')
    title=title_div.h2.text
    hemisphere_image_urls.append({"title":title,"img_url":img_url})

In [37]:
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]